<!------ Login View ------->
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>Task Management App</h1>
        <h3 class="text-center mb-3">Login</h3>
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required class="form-control" placeholder="Enter Email" />
          </div>
          <div class="form-group">
            <label for="email">Password</label>
            <input type="password" id="password" name="password" required class="form-control" placeholder="Password" />
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-1">Login</button>
        </form>
      </div>
    </div>
</div>