<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1>Task Management App </h1>
            <p>Login for Managing Your task</p>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>